.Profile {
}

.Profile li.list-group-item {
  display: flex;
  justify-content: space-around;
}

.Profile .center {
  padding-bottom: 16px;
}

.Profile .profile-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

.Profile .edit-profile {
  margin-top: 16px;
}